In [1]:
import pandas as pd

In [2]:
data = {
    'name': ['bread', 'carrots', 'potatoes', 'apples'],
    'price': [3.4, 2.3, 5.6, 3.4]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

       name  price
0     bread    3.4
1   carrots    2.3
2  potatoes    5.6
3    apples    3.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   price   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes